@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html, body {
    @apply font-sans font-medium;
  }
}
body {
  background-color: rgb(0, 0, 0);
}
@keyframes bounceFade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(20px);
  }
  60% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.animate-bounce-fade {
  animation: bounceFade 3s infinite;
}